<launch>
  <arg name='num_bots' default="3" />
  
  <group if="$(eval 1 == arg('num_bots') )">
    <include file="$(find robot_worker)/launch/launch_single_robot.launch">
      <arg name="robot_idx" value="0" />
    </include>
  </group>


  <group if="$(eval 2 == arg('num_bots') )">
    <include file="$(find robot_worker)/launch/launch_single_robot.launch">
      <arg name="robot_idx" value="0" />
    </include>
    <include file="$(find robot_worker)/launch/launch_single_robot.launch">
      <arg name="robot_idx" value="1" />
    </include>
  </group>


  <group if="$(eval 3 == arg('num_bots') )">
    <include file="$(find robot_worker)/launch/launch_single_robot.launch">
      <arg name="robot_idx" value="0" />
    </include>
    <include file="$(find robot_worker)/launch/launch_single_robot.launch">
      <arg name="robot_idx" value="1" />
    </include>
    <include file="$(find robot_worker)/launch/launch_single_robot.launch">
      <arg name="robot_idx" value="2" />
    </include>
  </group>


</launch>