<launch>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox1" output="screen">
    <rosparam command="load" file="$(find fydp_mapping)/configuration_files/slam_config1.yaml" />
    <remap from="map" to="/carter1/map"/>
    <remap from="/initialpose" to = "/carter1/initialpose"/>
  </node>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox2" output="screen">
    <rosparam command="load" file="$(find fydp_mapping)/configuration_files/slam_config2.yaml" />
    <remap from="map" to="/carter2/map"/>
    <remap from="/initialpose" to = "/carter2/initialpose"/>
  </node>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox3" output="screen">
    <rosparam command="load" file="$(find fydp_mapping)/configuration_files/slam_config3.yaml" />
    <remap from="map" to="/carter3/map"/>
    <remap from="/initialpose" to = "/carter3/initialpose"/>
  </node>
</launch>