<launch>
  <arg name="first_tb3"  default="carter1"/>
  <arg name="second_tb3" default="carter2"/>
  <arg name="third_tb3" default="carter3"/>

  <group ns="carter1/map_merge">
    <param name="init_pose_x"   value="1.36"/>
    <param name="init_pose_y"   value="-7.8"/>
    <param name="init_pose_z"   value="0"/>
    <param name="init_pose_yaw" value="-1.57"  />
  </group>

    <group ns="carter2/map_merge">
    <param name="init_pose_x"   value="0"/>
    <param name="init_pose_y"   value="0"/>
    <param name="init_pose_z"   value="0"/>
    <param name="init_pose_yaw" value="1.57"  />
  </group>
    <group ns="carter3/map_merge">
    <param name="init_pose_x"   value="4"/>
    <param name="init_pose_y"   value="0"/>
    <param name="init_pose_z"   value="0"/>
    <param name="init_pose_yaw" value="1.57"  />
  </group>

  <arg name="robot1" value="carter1" />
  <arg name="robot2" value="carter2" />
  <arg name="robot3" value="carter3" />
  <!-- args="0 0 0 1.57 0 0  
  args="1.34 0 0 1.57 0 0
  args="5.54 0 0 1.57 0 0 -->
  <!-- <group ns="carter2/map_merge">
    <param name="init_pose_x"   value="-30.06"/>
    <param name="init_pose_y"   value="-8"/>
    <param name="init_pose_z"   value="0"/>
    <param name="init_pose_yaw" value="0"  />
  </group>

  <group ns="carter3/map_merge">
    <param name="init_pose_x"   value="15.94"/>
    <param name="init_pose_y"   value="-34"/>
    <param name="init_pose_z"   value="0"/>
    <param name="init_pose_yaw" value="0"  />
  </group> -->

  <!-- <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_map_updates_topic" value="map_updates"/>
    <param name="robot_namespace" value="carter"/>
    <param name="merged_map_topic" value="map_merge_topic"/>
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="1"/>
    <param name="discovery_rate" value="0.5"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
    <remap from = "carter1/map" to = "new_carter1_map"/>
    <remap from = "carter2/map" to = "new_carter2_map"/>
    <remap from = "carter3/map" to = "new_carter3_map"/>
  </node> -->

  <node pkg="fydp_mapping" type="clear_robot_pose_map.py" respawn="true" name="fydp_clear_robot_pose_map" output="screen">
  </node>
  <node pkg="fydp_mapping" type="merge_map_slam.py" respawn="true" name="merge_map_slam_inflated" output="screen">
    <param name="map_merge_topic" value="/map_merge_topic"/>
    <param name="costmap_sub_topic" value="move_base/global_costmap/costmap"/>
  </node>
  <node pkg="fydp_mapping" type="merge_map_slam.py" respawn="true" name="merge_map_slam" output="screen">
    <param name="map_merge_topic" value="/map_merge_topic_thin"/>
    <param name="costmap_sub_topic" value="map"/>
  </node>

  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_tb3)_tf_broadcaster"  args="1.36 -7.8 0 -1.57 0 0 /map /carter1/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_tb3)_tf_broadcaster" args="0 0 0 1.57 0 0 /map /carter2/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg third_tb3)_tf_broadcaster" args="4 0 0 1.57 0 0 /map /carter3/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="map_merge_tf_broadcaster" args="0 0 0 0 0 0 map map_merge_frame 100"/> -->

  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_tb3)_tf_broadcaster"  args="0 0 0 0 0 0 /map /carter1/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_tb3)_tf_broadcaster" args="0 0 0 0 0 0 /map /carter2/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg third_tb3)_tf_broadcaster" args="0 0 0 0 0 0 /map /carter3/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="map_merge_tf_broadcaster" args="0 0 0 0 0 0 map map_merge_frame 100"/>

  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg robot1)_odom_broadcaster"  args="-1.595 -7.40 0 1.57 0 0  /$(arg robot1)/map  /$(arg robot1)/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg robot2)_odom_broadcaster" args="0 0 0 1.57 0 0 /$(arg robot2)/map /$(arg robot2)/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg robot3)_odom_broadcaster" args="3.52 0.1 0 1.57 0 0 /$(arg robot3)/map /$(arg robot3)/odom 100"/>
  
  <!-- Launching Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fydp_mapping)/launch/carter_gmapping_exploration.rviz" />

</launch>