<launch>

  <param name="/use_sim_time" value="true"/>

  <arg name="robot1" value="carter1" />
  <arg name="robot2" value="carter2" />
  <arg name="robot3" value="carter3" />
  <arg name="env_name" default="hospital" />

  <!-- Load Robot Description -->
  <arg name="model" default="$(find carter_description)/urdf/carter.urdf"/>
  <param name="robot_description" textfile="$(arg model)" />

  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find carter_2dnav)/map/carter_$(arg env_name)_navigation.yaml" >
    <param name="frame_id" value="map" />
  </node> -->

  <!-- AMCL -->
  <!-- Hospital Scenario -->
<!--   
  <group if="$(eval arg('env_name') == 'hospital')" >
    <include file="$(find fydp_mapping)/launch/amcl_robot_individual.launch">
      <arg name="robot_name"      value="$(arg robot1)" />  
      <arg name="initial_pose_x"  value="0.0"/>
      <arg name="initial_pose_y"  value="0.0"/>
      <arg name="initial_pose_a"  value="3.14"/>
    </include>

    <include file="$(find fydp_mapping)/launch/amcl_robot_individual.launch">
      <arg name="robot_name"      value="$(arg robot2)" />  
      <arg name="initial_pose_x"  value="4.0"/>
      <arg name="initial_pose_y"  value="-1.0"/>
      <arg name="initial_pose_a"  value="3.14"/>
    </include>
  
    <include file="$(find fydp_mapping)/launch/amcl_robot_individual.launch">
      <arg name="robot_name"      value="$(arg robot3)" />  
      <arg name="initial_pose_x"  value="7.0"/>
      <arg name="initial_pose_y"  value="3.0"/>
      <arg name="initial_pose_a"  value="3.14"/>
    </include>
  </group> -->


  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg robot1)_odom_broadcaster"  args="0 0 0 0 0 0  /$(arg robot1)/map  /$(arg robot1)/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg robot2)_odom_broadcaster" args="0 0 0 0 0 0 /$(arg robot2)/map /$(arg robot2)/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg robot3)_odom_broadcaster" args="0 0 0 0 0 0 /$(arg robot3)/map /$(arg robot3)/odom 100"/>
  

<!-- MOVE_BASE -->
  <include file="$(find carter_2dnav)/launch/move_base_individual.launch" >
    <arg name="robot_name" value="$(arg robot1)" />
  </include>
  
  <include file="$(find carter_2dnav)/launch/move_base_individual.launch" >
    <arg name="robot_name" value="$(arg robot2)" />
  </include>
  
  <include file="$(find carter_2dnav)/launch/move_base_individual.launch" >
    <arg name="robot_name" value="$(arg robot3)" />
  </include>

<!-- Launching Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fydp_mapping)/launch/carter_gmapping.rviz" />

</launch>